.img-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 60%;
  padding: 1rem;
  background-color: rgb(122, 122, 122);
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

p {
  position: absolute;
  top: 10px;
  right: 50px;
}

li {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

img {
  width: 300px;
  height: 400px;
  aspect-ratio: 3/4;
  border-radius: 5px;
  margin: 5px;
} 

label {
  margin: 5px;
}

textarea {
  width: 200px;
  height: 30px;
  margin: 5px;
  vertical-align: text-bottom;
  border-radius: 5px;
  margin-top: 10px;
  resize: none;
}
.save-button {
  display: flex;
  justify-content: center;
  width: 100%;
}

#description {
  height: 100px;
}

.desc-txt {
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .img-cont {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  #description {
    width: 100%;
  }
  .desc-txt {
    width: 100%;
  }
  .save-button {
    width: 100%;
  }
  
}